button {
    cursor: pointer;
}

.btn {
    /* width: 120px; */
    margin: 5px;
    padding: 10px;
    /* height: 50px; */
    cursor: pointer;
    border-radius: 8px;
    /* color: #274f99; */
    background-color: #b5b5b524;
    background-repeat: no-repeat;
    /* color: #d1c4ac; */
    transition: .1s;
    padding: 0.8rem 0.9rem;
    font-size: 0.9rem;
}

.btn_icon {
    cursor: pointer;
    border-radius: 8px;
    /* color: #274f99; */
    background-color: transparent;
    background-repeat: no-repeat;
    color: #d1c4ac;    
    transition: .1s;
}

.btn_icon:hover {
    box-shadow: 0 0 3pt 2pt blueviolet;
}

.btn:hover {
    box-shadow: 0 0 3pt 2pt blueviolet;
}

.btn_right {
    float: right;
    margin-left: 7px;
}

.btn_save {
    position: fixed;
    bottom: 0px;
    right: 5px;
    margin-top: 10px;
    margin-left: 20px;
    display: none;
    /* color: #8d8de5; */
}

.fixed_elements .btn_content_speaker {
    position: fixed;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    border: 1px solid black;
}


.fixed_elements #fixed_btn_plus {
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 40px;
    width: 60px;
    height: 60px;
    background-color: #ffb100;
    font-size: 30px;
    cursor: pointer;
}
  
  
  
.fixed_elements #btn_scroll_up {
    position: fixed;
    bottom: 120px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #796ce0;
    border-radius: 40px;
    font-size: 20px;
    background-image: linear-gradient( 0deg,#da45ba,#2f1482);
    box-shadow: 0 0 1pt 1pt #0e0e0e;
    transition: box-shadow 0.3s ease-in-out;
    /* transition: transform 250ms; */
    transition: transform 250ms, opacity 400ms;
    /* opacity: 0; */
    /* transform: translate(0, 10vh); */
    transition: all 1s;
}
  

/*
.fixed_elements #fixed_btn_plus:focus, #btn_scroll_up:focus, .btn_content_speaker:focus, .btn_back:focus {
    outline: 0 none;
}



.fixed_elements #fixed_btn_plus:active, #btn_scroll_up:active, .btn_content_speaker:active, .btn_back:active {
    background-color: rgba(39, 184, 224, 0.904); 
}
*/
   /*
.fixed_elements #fixed_btn_plus:hover, #btn_scroll_up:hover, .btn_back, .btn_content_speaker {
 
    border-color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.085) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
    background-color: rgba(204, 242, 252, 0.904); 
 
}
   */

#btn_upload_actionBlocks {
    padding: 0;
    margin: 0;
    width: 135px;
    cursor: pointer;
}

#btn_delete_actionBlock {
    color: #a94747f2;
}

.icon_tag {
    background: url("../icons/tag.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0); 
    content: "";
    display: inline-block;
    color: #fff;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 30px;
}

li{position:relative;}
li:not(.sidebar-brand):before{position:absolute; left:-20px;font-family: FontAwesome;color:red;width: 30px;}

div#btn_clear_input_field_request {
    /* margin-top: 1px; */
    background-color: #9e9a9a2b;
    background-color: #ffffff;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: black solid 1px; */
    margin-left: 5px;
    margin-right: 5px;
}

#btn_accept_input_field_request {
    margin-right: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    /* margin-right: 5px; */
    /* background-color: #aca5a578; */
    /* background-color: #9e9a9a2b; */
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
}

div#btn_search_by_tags {
    /* margin-right: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    
    width: 45px;
    height: 40px;

    background-color: #e6e2e2fa;
    border-radius: 50px;
}

#btn_close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: relative;
    position: relative;
    /* float: right; */
    margin-left: 20px;

    width: 45px;
    height: 45px;
    background-color: transparent;
    /* background-color: #1e1e1e03; */
}

#btn_advanced_settings_for_search {
    margin-left: 5px;
    width: 50px;
    height: 50px;
    background-image: url(https://yastatic.net/s3/web4static/_/v2/cRpWOVFEazl8wyn9pSRVJiwY4Jg.svg);
    background-color: #ffffff;
    background-position: center;
    border-radius: 50px;
}

#btn_voice_recognition {
    margin: 0px 10px;
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50px;
    /* background-color: transparent; */
    /* padding: 0; */
    /* margin-left: 20px; */
    /* padding: 0; */
    /* background-color: #9e9a9a2b; */
}

#btn_download_actionBlocks, #btn_download_logs {
    width: 200px;
}



/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}


/*
#btn_clear_input_field_request {
    display: inline-block;
    width: 110px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    text-align: center;

    cursor: pointer;
    fill: currentColor;
    background-color: transparent;
    border: none;

    border-radius: 50px;
}
*/

#btn_clear_input_field_request:active #img_clear_input_field_request,
#btn_voice_recognition:active #img_voice_recognition,
#btn_accept_input_field_request:active #icon_accept_command {
    /* Set outline light around block with image */
    box-shadow: 0px 0px 1px 1px #4285f4; 
    -webkit-box-shadow: 0px 0px 5px 2px #4285f4;
    -moz-box-shadow: 0px 0px 5px 2px #4285f4;
    /**/
}





#btn_clear_input_field_request:focus, #btn_accept_input_field_request:focus {
  border: none;
  outline: none; 
}

#btn_clear_input_field_request:hover, #btn_accept_input_field_request:hover {
  /* Set outline light around block with image 
  box-shadow: 0px 0px 5px 1px DodgerBlue; 
  -webkit-box-shadow: 0px 0px 5px 1px DodgerBlue;
  -moz-box-shadow: 0px 0px 5px 1px DodgerBlue;
  */
}


.addBtn:hover {
  background-color: #bbb;
}

.btn_in_dialog_container {
    margin-left: 10px;
    padding: 10px;
}
