button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  /* transition: 0.4s; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

button.accordion:after {
  content: '\002B';
  font-size: 13px;
  color: #777;
  float: right;
}

button.accordion.active:after {
  content: "\2212";
}
.input_field {
  margin-top: 5px;
}
.center {
  margin: auto;
  width: 100%;
}


div.panel {
  text-align: center;
  padding: 0 18px;
  background-color: #ddd;
  max-height: 0;
  overflow: hidden;
  /* transition: 0.6s ease-in-out; */
  color: black;

  border: 1px solid black;
}

div.panel p{
  /* Show elements in column */
  clear: both;
}

div.panel.show {
  opacity: 1;
  max-height: 100%;
}

#accordions_container_infoBlock_settings .text_title_for_input_field {
  text-align: left;
  margin-top: 20px;
}

#btn_create_obj_info, #btn_update_obj_info {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

#accordions_container_infoBlock_settings .panel {
  position: relative;
}

.text_example {
  font-size: 10px;
  color: gray;
}

.text_result_obj_info {
  position: absolute;
  padding: 50px;
  bottom: 70px;
  font-size: 10px;
  color: gray;
  margin-left: -200px;
}

.interactive_field {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  min-width: 200px;
  max-width: 100%;
  min-height: 40px;
}

#accordions_container_infoBlock_settings .input_field {
  width: 100%;
}

.input_field_tags {
  width: 100%;
}

.dropdown_select_action {
  width: 100%;
}

.input_field_image_URL {
  width: 100%;
}

.action_description_container {
  width: 100%;
}

.input_field_content {
  width: 100%;
}







