#label_help {
  position: relative;
  /* padding-left: 0px; */
  /* top: 75px; */
  /* margin-left: 10px; */
  font-size: 13px;
  color: #312c31;
  /* text-align: left; */
  pointer-events: none;
}

#elements_for_file_manager p {
  font-size: 25px;
  font-weight: bold;
}