/* body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */

.login-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    padding: 50px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.login-panel h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    color: #5fa7c7;
    text-align: center;
}

.login-panel .input-box {
    position: relative;
}

.login-panel .input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-panel .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s; 
}

.login-panel .input-box input:focus ~ label,
.login-panel .input-box input:valid ~ label {
    top: -30px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.login-panel input[type="submit"] {
    float: right;
    padding: 10px 20px;
    border-radius: 5px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    cursor: pointer;
    box-shadow: 0 10px 15px rgb(13 23 98 / 80%);
}