.multiColorCircleLoader {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* background: linear-gradient(45deg, transparent, transparent 40%, #e5f403); */
  background: linear-gradient(45deg, transparent, #d33232 40%, #67d33a);
  animation: animate 2s linear infinite;
  margin: auto;
}

@keyframes animate {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.multiColorCircleLoader:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000;
  border-radius: 50%;
  z-index: 1000;
}

.multiColorCircleLoader:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}
