
.rb_container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  margin-left: 10px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rb_label {
  text-align: left;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  font-size: 15px;
  padding-top: 3px;
}

form#rb_search_mode_container {
  margin-bottom: 30px;
  max-width: 680px;
  background-color: #222121;
  outline: 10px;
  padding: 10px;
  border-radius: 8px;
}

.gray_container {
  margin: 30px auto;
  max-width: 680px;
  background-color: #222121;
  outline: 10px;
  padding: 10px;
  border-radius: 8px;
}

/* Hide the browser's default radio button */
.rb_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
  
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.rb_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.rb_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.rb_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.rb_container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}