<dialog id="alert_center">
    <div class = "alert_center_content">
        <form method="dialog">
            <!-- Title text -->
            <div class="center"><b><div class="title">Title</div></b></div><br>
            <!-- Info text -->
            <div class="text_info">Content</div>
            </menu>
        </form>
    </div>
</dialog>