<dialog id="dialog_upload_actionBloks_from_file">
    <form method="dialog">
        <!-- Title text -->
        <div class="center">
            <b><div class="title"></div></b>
        </div>
        <!-- Info text -->
        <div class="content"></div>
        <br>
        <div class="center">
            <button>Some button</button>
        </div>
    </form>
</dialog>