<div id="modalBox" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header" style="min-height: 60px;">
            <span class="close modal-close">&times;</span>
            <h2 class="modal-header-text">Modal Header</h2>
        </div>
        <div class="modal-body">
            <p>Some text in the Modal Body</p>
            <p>Some other text...</p>
        </div>
            <div class="modal-footer">
            <h3 class="modal-footer-text">Modal Footer</h3>
        </div>
    </div>
</div>