<style>
    .center {
        margin: auto;
        width: 100%;
    }

    /* .center {
        padding: 10px;
        text-align: center;
    } */
</style>

<dialog id="dialog_upload_actionBloks_from_file">
    <form method="dialog">
        <!-- Title text -->
        <div class="center"><b><div class="title"></div></b></div>
        <!-- Info text -->
        <div class="content"></div>
        <br>
        <div class="center">
            <button>Some button</button>
        </div>
        </menu>
    </form>
</dialog>