<!--Bottom info panel.-->
<div id="info-panel" class="info-panel">
    <button class="close-btn">&times;</button>
    <div class="info-content">
        <span id="info-message">Здесь будет ваш очень длинный текст...</span>
    </div>
</div>