<div id="elements_for_logs" class="elements_for_executed_actionBlock" style="display: none; padding-top: 50px;" disabled>
    <div class="center">
        <!-- Logs -->
        <!-- * Logs to see errors and warnings. Also a possibilities how to resolve -->
        <button id="btn_download_logs" class="btn" title="Save logs in the file">Download logs</button>
        <br>
    </div>
</div>